[requires]
python_version = "3.11"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
python-dotenv = "*"
httpx = "*"
redis = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
greenlet = "*"
psycopg = {extras = ["binary"], version = "*"}
prometheus-client = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"
